set -g mouse on

setw -g mode-keys vi

#plugin manager

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g status-position top

#pop shell
bind C-g display-popup -E "ta ~/git"
bind -n M-g display-popup -E "tmux new-session -A -s scratch"

# Other examples:
# set -g @plugin 'github_username/plugin_name'
# set -g @plugin 'github_username/plugin_name#branch'
# set -g @plugin 'git@github.com:user/plugin'
# set -g @plugin 'git@bitbucket.com:user/plugin'
set -g @kanagawa-plugins "cpu-usage ram-usage time"
# set -g @dracula-show-right-sep 
set -g @kanagawa-show-powerline true
set -g @kanagawa-show-timezone false

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'

set -g @plugin "nordtheme/tmux"

# clip conf 
# Usa xclip para copiar al portapapeles del sistema
bind-key -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "xclip -selection clipboard -in"
bind-key -T copy-mode y send-keys -X copy-pipe-and-cancel "xclip -selection clipboard -in"

# Permite seleccionar texto con el mouse para copiar al portapapeles
set-option -g mouse on
